h1 {
  color: pink;
  font-size: 40px;
  background: white;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

h2{
	color: black;
	font-size: 20px;
	background: white;
	text-align: center;
}

h3{
	color: pink;
	font-size: 20px;
	font-family: bebas neue;
}
h4{
	color: pink;
	background: white;
	font-size: 20px;
	font-family: bebas neue;
}
h5{
	color: pink;
	font-size: 20px;
	font-family: bebas neue;
}
h6{
	color: pink;
	font-size: 20px;
	font-family: bebas neue;
	text-align: center;
}
h7{
	color: pink;
	font-size: 20px;
	font-family: bebas neue;
	text-align: center;
}
body{
background: white;
font-family: arial;
}
.tarte{
	text-align: center;
}
.production{
	width: 300px;
  	height: 200px;
  	object-fit: cover;
}
.prod{
	text-align: center;
}
.my-navbar{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: pink;
	border-radius: 10px;
  	box-shadow: 5px 5px 10px grey;
}
.logo{
	width: 100px;
	height: 100px;
}
.links{
	display: flex;
	justify-content: flex-end;
	justify-content: space-between;
	color: black;
	font-size: 20px;
}
.link {
  margin: 10px 30px;
  color: black;
}
.link:hover {
  color: #9F3442;
}
.video{
	text-align: center;
}
iframe{
	width:500px;
	height: 300px;
	text-align: center;
}
.map{
	text-align: center;
}